#ContainerTabela{
    width: 60%;
    height: calc(60vh - 20px);
    overflow-y: auto;
    margin: auto;
    display: flex;
    flex-direction: row;
}

.Tabelamae {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    margin: auto;
    table-layout: fixed;
}

.Cabecalhotabela {
    height: 50px;
    background-color: #FFF;
    position: sticky;
    display: flexbox;
    justify-content: center;
    align-items: center;    
}

.Contato{
    width: 110px;
    height: 40px;
    font-size: 16px;
    color: #fff;
    background-color: #CA1621;
    border: none;
    border-radius: 8px;

    cursor: pointer;
    justify-content: center;
    align-items: center;
    gap: 10px;
}


tr {
    background-color: #F1F1F1;

}

td,th {
    width: 33.33%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    padding: 15px;
    font-size: 16px;
    text-align: center;
    color: #000;
    font-family: 'Chivo' sans-serif;
}



@media (max-width: 768px) {
    
    #ContainerTabela{
        width: 60%;
        height: calc(80vh - 10px);
        margin: auto;
    }
}
@media (max-width: 768px){
    .Tabelamae {
        width: 100%;
    }
}
@media (max-width: 768px){
    .Cabecalhotabela {
        height: 50px;    
    }
}

@media (max-width: 768px) {
    .Contato{
        width: 90px;
        height: 40px;
        border-radius: 8px;
        gap: 10px;
    }
}
@media (max-width: 768px){   
    tr {
        background-color: #F1F1F1;
    }
}

@media (max-width: 768px){
    td {
        padding: 15px;
        font-size: 16px;
    }
}

@media (max-width: 360px) {
    
    #ContainerTabela{
        width: 85%;
        height: calc(60vh - 10px);
        margin: auto;
    }
}    
@media (max-width: 360px) {
    .Tabelamae {
        width: 100%;
    }
}
@media (max-width: 360px) {
    .Cabecalhotabela {
        height: 50px;    
    }
}
@media (max-width: 360px) {
    .Contato{
        width: 50px;
        height: 20px;
        border-radius: 8px;
        gap: 10px;
        font-size: 12px;
    }
}
@media (max-width: 360px) {  
    tr {
        background-color: #F1F1F1;
    }
}
@media (max-width: 360px) { 
    td {
        padding: 15px;
        font-size: 15px;
    }
}